[submodule "watermark-anything"]
	path = watermark-anything
	url = https://github.com/facebookresearch/watermark-anything.git
[submodule "gradio"]
	path = gradio
	url = https://github.com/xiaoyao9184/space-wam.git
